:root {
    --fonte: "Lexend Deca", sans-serif;
}

body {
    width: 100vw;
    height: auto;
    background-color: black;
}

.main {
    width: 100vh;
    height: 100%;
    
}

.container {
    width: 95vw;
    height: auto;
    display: flex;
    margin-left: 90px;
    margin-top: 35px;
    min-width: 360px;
    
}

.box-registro {
    width: 25%;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registro-titulo {
    font-family: var(--fonte);
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 50px;
}

.box-registro-logo {
    width: 40%;
    margin: 100px 0;
    
}

.registro-forms {
    display: flex;
    flex-direction: column;
    width: 75%;
    gap: 15px;
    
}

.registro-label {
    width: 100%;
    overflow: hidden;
}

.registro-input {
    width: 100%;
    padding: 10px;
    background-color: #efefef;
    font-family: var(--fonte);
    font-size: 8px;
    border: none;
}

.manter-login {
    font-family: var(--fonte);
    color: #919493;
    font-size: 12px;
    margin-left: 5px;
    font-weight: 300;
}

.caixa-manter-login {
    display: flex;
    align-items: center;
}

.check {
    padding: 0;
    margin: 0;
    appearance: none;
    width: 17px;
    height: 17px;
    border: none;
    background-color: #efefef;
}

.check:checked {
    background-color: #919493;
}

.registro-social-midias {
    display: flex;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.registro-icon {
    
    padding: 5px 30px;
    border-radius: 5px;
}

.icon-facebook {
    filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(218deg) brightness(103%) contrast(100%);
    background-color: #3b78e5;
}

.icon-google {
    border: 1.5px solid #9194931a;
    border-radius: 5px;
}

.icon-apple {
    border: 1.5px solid #9194931a;
    border-radius: 5px;
    
}

.icon-xbox {
    /* filter: invert(18%) sepia(99%) saturate(3819%) hue-rotate(100deg) brightness(97%) contrast(87%); */
    filter: invert(100%) sepia(0%) saturate(7485%) hue-rotate(218deg) brightness(103%) contrast(100%);
    background-color: #107c10;

}

.icon-seta {
    margin-top: 11em;
    width: 40px;
    padding: 15px;
    border-radius: 20px;
    background-color: #d53235;
}
.icon-seta:hover {
    background-color: #b62c2e;
    transition: 0.5s;
}

.registro-problemas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: var(--fonte);
}

.problemas-link {
    text-decoration: none;
    color: #0a0a0acc;
    font-size: 12px;
    padding: 5px 0;
}
.problemas-link:hover {
    color: black;
    transition: 0.5s;
}

.box-img {
    width: 70%;
    background-image: url(img/lol\ wallpaper.jpeg);
    background-position: center;
    background-size: cover;
}

.display-none {
    display: none;
}

@media screen and (min-device-width: 360px) and (max-device-width: 413px){
    .main {
        width: 100vw;
        height: 100vh;
    }

    .container {
        margin: 0;
        width: 100%;
        height: auto;
        
    }
    
    .box-registro {
        margin: 0;
        width: 100vw;
    }
    
    .box-img {
        display: none;
    }

    .registro-titulo {
        font-size: clamp(20px, 25px, 30px);
    }

    .registro-forms {
        width: 80%;
        
    }


    .registro-icon {
        padding: 10px 70px;
    }

    .registro-social-midias {
        flex-direction: column;
        margin-top: 30px;     
        
    }

    .registro-input {
        width: 95%;
        padding: 10px 3px;
        font-size: 14px;
    }

    .registro-label {
        width: 100%;
    }

    .icon-seta {
        margin-top: 150px;
    }
}


@media screen and (min-device-width: 414px) and (max-device-width: 600px){
    .box-img{
        display: none;
    }

    .main{
        width: 100vw;
        height: 100vh;
    }

    .container {
        width: 100vw;
        height: auto;
        margin: 0;
    }

    .box-registro {
        width: 100%;
        height: 100%;
    }

    .icon-seta {
        margin-top: 150px;
    }

    .registro-social-midias {
        gap: 5%;
        margin-top: 30px;
        
    }

    .registro-input {
        font-size: 18px;
    }
}


@media screen and (min-device-width: 1024px) and (max-device-width: 1919px){
    .container {
        margin-left: 25px;
        margin-bottom: 30px;
    }

    .box-registro {
        width: 30%;
    }

    .registro-titulo {
        font-size: 24px;
    }

    .registro-input {
        font-size: 10px;
    }

    .registro-icon {
        padding: 5px 20px;
    }
}